{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4 text-center">Fully containerized Django Web App</h1>
    <p class="lead text-center">This Web App only has a simple CRUD functionality! It's purpose is to serve as a Django
        Web App Template for further development.</p>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Items</h2>
                    <ul class="card-text">
                        {% for item in items %}
                        <li>
                            <a href="{% url 'update_item' item.pk %}" class="dark-blue-button">Update</a>
                            <a href="{% url 'delete_item' item.pk %}" class="dark-blue-button">Delete</a>
                            {{ item.name }} - {{ item.price }}
                        </li>
                        <br>
                        {% empty %}
                        <li>No items yet.</li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'create_item' %}" class="dark-blue-button">Create Item</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}